<div id="main">
    <form [formGroup]="employeeForm" (ngSubmit)="AddEmployee()">

        <label for="name">Name</label><br>
        <input type="text" name="name" formControlName="name" id="name"><br>
        <div id="errorMessage" *ngIf="name!.invalid && (name!.dirty || name!.touched)">A name is required</div>
        
        <label for="surname">Surname</label><br>
        <input type="text" name="surname" formControlName="surname"><br>
        <div id="errorMessage" *ngIf="surname!.invalid && (surname!.dirty || surname!.touched)">A surname is required</div>
        
        <label for="birthdate">Date of birth</label><br>
        <input type="date" name="birthdate" formControlName="birthDate"><br>
        <div id="errorMessage" *ngIf="birthDate!.invalid && (birthDate!.dirty || birthDate!.touched)">A date of birth is required</div>
        
        <label for="salary">Salary</label><br>
        <input type="number" min="0" name="salary" formControlName="salary"><br>
        <div id="errorMessage" *ngIf="salary!.invalid && (salary!.dirty || salary!.touched)">A salary is required</div>
    
        <label for="position">Position</label><br>
        <select name="position" formControlName="position">
            <option value="0" selected disabled>Select a position</option>
            <option value="1">IT</option>
        </select><br>
        <div id="errorMessage" *ngIf="position!.invalid && (position!.dirty || position!.touched)">A position is required</div>
    
        <label for="department">Department</label><br>
        <select name="department" formControlName="department">
            <option value="0" selected disabled>Select a department</option>
            <option></option>
        </select><br>
    
        <label for="reportingLineManager">Reporting Line Manager</label><br>
        <select name="reportingLineManager" formControlName="reportingLineManagerId">
            <option value="0" selected disabled>Select a department</option>
            <option></option>
        </select><br>
        
     
        
        <button type="submit" [disabled]="!employeeForm.valid">Add Employee</button>
    </form>
    
</div>
