<h1>Update Position</h1>
<div id="main">
    <div id="formDiv">
        <form [formGroup]="positionForm" (ngSubmit)="UpdatePosition()">

            <label for="name">Position Name</label><br>
            <input type="text" name="name" formControlName="positionName"><br>
            <div id="errorMessage" *ngIf="positionName!.invalid && (positionName!.dirty || positionName!.touched)">A name for the position is required</div>
            
            <label for="description">Position Description</label><br>
            <input type="text" name="description" formControlName="positionDescription"><br>
            <div id="errorMessage" *ngIf="positionDescription!.invalid && (positionDescription!.dirty || positionDescription!.touched)">A description for the position is required</div>
    
            <button id="cancelButton" type="reset" (click)="Cancel()">Cancel</button>
            <button id="buttonAdd" type="submit" [disabled]="!positionForm.valid">Update Position</button>
        </form>
    </div>
</div>
